.header {
  width: 100vw;
  height: 60px;
  display: flex;
  justify-content: space-between;
  flex-shrink: 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  align-items: center;
  z-index: 999;
  border-bottom: 1px solid rgb(175, 175, 175);
}

.headerLight {
  background-color: rgb(245, 245, 245);
}

.headerDark {
  background-color: rgb(44, 44, 44);
  color: #fff;
}

.contollers {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  row-gap: 15px;
  column-gap: 25px;
  margin: 0 45px 0 40px;
}
