.root {
  padding: 2px 0;
}
.root > *::after {
  color: rgba(255, 0, 0, 0.915);
}
.dragger:hover {
  opacity: 0.75;
}
.previewSection {
  display: flex;
  align-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  color: rgb(89, 89, 89);
  & .removeButton {
    margin-left: 10px;
  }
}
