.button {
  min-height: 30px;
  padding: 10px 20px;
  background-color: #3c8fe9fd;
  color: white;
  border: 1px solid rgb(159, 159, 159);
  border-radius: 8px;
  transition: all 0.2s ease;
  text-align: center;
  letter-spacing: 0.5px;
  cursor: pointer;

  &:hover:not(:disabled) {
    background-color: #0056b3;
  }

  &:disabled {
    background-color: rgb(155 155 155);
    cursor: not-allowed;
    opacity: 0.6;
  }

  &:active {
    border-color: #1677ff;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  }
}
