.products {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.productListContainer {
  display: flex;
}
.productList {
  width: 100%;
  max-width: 1920px;
  display: grid;
  grid-template-columns: repeat(auto-fill, 242px);
  justify-content: center;
  gap: 10px;
  margin: 25px auto;
  gap: 10px;
  margin: 25px auto;
}
.title {
  font-size: 20px;
  margin: auto;
}

@media (max-width: 1260px) {
  .productsList {
    grid-template-columns: 1fr;
  }
}
