.products {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 50px;
}
.productList {
  width: 100%;
  max-width: 1920px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  grid-template-rows: auto;
  grid-column-gap: 10px;
  grid-row-gap: 25px;
  justify-items: center;
  margin: 25px 0;
}
.title {
  font-size: 20px;
  margin: auto;
}

@media (max-width: 1260px) {
  .productsList {
    grid-template-columns: 1fr;
  }
}
