.layout {
  display: flex;
  flex-direction: row;
  background-color: rgb(255, 255, 255);
  border-bottom: 2px solid rgba(175, 175, 175, 0.69);
  z-index: 999;
}

.content {
  width: 100%;
  padding: 100px 10px 10px 10px;
  color: #000000dd;
  height: 50px;
}
