.cart {
  display: flex;
  flex-direction: column;
  align-content: center;
  flex-wrap: nowrap;
}
.cartList {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  align-content: center;
  flex-wrap: nowrap;
  margin: 25px;
  padding: 0 10px;
}
.title {
  font-size: 20px;
  margin: auto;
}
