.localeController {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 20px;
}

.localeHeader {
  width: 60px;
  font-size: 14px;
  letter-spacing: 0.2px;
  font-weight: 500;
}
